.races {
    background-color: $secondary-color;
    padding-top: 50px;
    padding-bottom: 10px;
    width: 100vw;

    #map {
		height: 400px;
		width: 96vw;
	}

    &__map {
        // background-image: url("../img/map.jpg");
        margin: 4% 2%;
        margin-bottom: 0;
        height: 450px;
        width: 96%;
        border: black solid 27px;
    }
    &__search {
        margin: 4% 2%;
        margin-top: -1%;
        padding-top: 0.8%;
        margin-bottom: -4%;
        background-color: black;
        width: 96%;
        height: 50px;
        display: flex;
        
    }
    &__search--input {
        margin-left: 1%;
        width: 78%;
        height: 30px;
        display: inline-block;
    }
    &__search--icon {
        width: 2.65em;
        height: 28px;
        color: $primary-color;
    }
    &__search--icon:hover {
        color: $white-color;
    }
    .svg-inline--fa.fa-w-16 {
        width: 2.5em;
        margin: auto 10px;
    }
    &__search--refine {
        height: 30px;
        margin-left: 2%;
        width: 12.7%;
        margin-right: 8px;
        background-color: $primary-color;
        color: $white-color;
        display: inline-block;
        font-size: 1.8rem;
        text-align: center;
        padding: 3px;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-family: $sans-serif-font;
    }
    &__results {
        background-color: black;
        margin: 4% 2%;
        margin-top: 0;
        height: 100%;
        width: 96%;
        a:link, a:visited {
            color: $white-color;
            text-decoration: none;
        }
    }
    &__results--list {
        margin: 4% 2%;
        padding-top: 1%;
        background-color: black;
        height: 50%;
        width: 96%;
    }
    &__results--list-item {
        font-family: $sans-serif-font;
        background-color: $secondary-color;
        margin: 1% auto;
        padding-top: 1.5%;
        height: 80px;
        width: 100%;
        font-size: 2rem;
        color: $white-color;
		.date {
			background-color: black;
			color: $white-color;
			padding: 8px;
            margin-right: 10px;
            width: 190px;
            text-align: center;
            display: inline-block;
        }
        .date:nth-child(2) {
            background-color: $primary-color;
            width: 90px;
        }
        td {
            padding-left: 1%;
        }
        .details {
            font-size: 1.5rem;
            padding: 8px;
            width: 40%;
        }
    }
    &__results--list-item td:first-child {
        width: 42%;
    }
    &__results--list-item td:nth-child(2) {
        width: 23%;
    }
    &__results--list-item:hover {
        background-color: $primary-color-dark;
    }
}