*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.container {
    // background-image: url(../img/header.jpg);
    // background-size: cover;
    // background-position: top;
    position: relative;
}