.profile {
    background-color: $secondary-color;
    padding-top: 50px;
    padding-bottom: 10px;
    width: 100vw;
	margin-left: -33px;
    // Profile information
    &__name {
        text-transform: capitalize;
        letter-spacing: 5px;
        font-size: 2.5rem;
    }
	&__info {
        margin: 3%;
        margin-top: 80px;
        padding-top: 20px;
        background-color: black;
        height: 300px;
        display: block;
        text-align: center;
        position: relative;
        z-index: 4;
        font-family: $sans-serif-font;
    }
	&__photo--self {
        width: 100%;
	}
	&__description--self {
        color: $white-color;
        font-size: 2.25rem;
        position: absolute;
        text-transform: lowercase;
        top: 50%;
        left: 50%;
        text-align: left;
        transform: translate(-100%, -50%);
        letter-spacing: 3px;
        line-height: 40px;
    }
    &__description--record {
        border-left: $primary-color 5px solid;
        padding-left: 10%;
        padding-right: 7%;
        margin-right: 10%;
        color: $white-color;
        font-size: 2.25rem;
        letter-spacing: 3px;
        line-height: 40px;
        text-transform: lowercase;
        top: 50%;
        left: 50%;
        text-align: right;
        position: absolute;
        transform: translate(25%, -50%);
    }
    &__shape {
        width: 17rem;
        height: 17rem;
        background-color: red;
        display: inline-block;
        float: left;
        position: absolute;
        top: 50%;
        left: -1%;
        transform: translate(100%, -50%);

        // -webkit-clip-path: circle(50% at 50% 50%);
        // clip-path: circle(50% at 50% 50%);
        clip-path: inset(20px 10px 10px 10px);
    }

    // Titles
	&__title--races {
        font-family: $sans-serif-font;
		background-color: black;
		color: $white-color;
		padding: 25px;
		padding-left: 22px;
		text-align: center;
		font-size: 1.95rem;
        text-transform: uppercase;
        letter-spacing: 8px;
        position: relative;
    }
    &__add-race {
        position: absolute;
        right: 3%;
        transform: scale(1.5);
    }
    &__add-race:hover {
        color: $primary-color;
    }
    // &__edit-race {
    //     position: absolute;
    //     left: 15%;
    //     transform: scale(1.4);
    // }
    // &__edit-race:hover {
    //     color: $primary-color;
    // }
	&__title--records {
        font-family: $sans-serif-font;
        background-color: black;
		color: $white-color;
		padding: 25px;
		padding-left: 22px;
		text-align: center;
		font-size: 1.95rem;
        text-transform: uppercase;
        letter-spacing: 8px;
	}
    &__title--posts {
        font-family: $sans-serif-font;
        color: $white-color;
		padding: 25px;
		padding-left: 22px;
		padding-top: 44px;
		padding-bottom: 10px;
		text-align: center;
		font-size: 1.95rem;
        text-transform: uppercase;
        letter-spacing: 8px;
        position: relative;
    }
    &__add-post {
        position: absolute;
        right: 7%;
        transform: scale(1.6);
    }
    &__add-post:hover {
        color: $primary-color;
    }
    // &__edit-post {
    //     position: absolute;
    //     left: 23%;
    //     transform: scale(1.4);
    // }
    // &__edit-post:hover {
    //     color: $primary-color;
    // }
    
    // Posts
	&__posts {
		margin: 3%;
        background-color: black;
        padding-bottom: 10px;
	}
	&__post-item {
		background-color: $white-color;
		color: black;
        // display: inline-block;
        display: flex;
		width: 90%;
		height: 27%;
        margin: 1.5%;
        margin-left: 5%;
        margin-bottom: 3%;
    }
    &__post-item:hover {
        border: 10px solid $primary-color;
    }
	&__post-photo {
		width: 20%;
		height: 100%;
	}
	&__post-description {
		background-color: $white-color;
		width: 100%;
        padding: 15px;
		display: inline-block;
		font-size: 1.5rem;
        text-align: left;
        &--title {
            display: block;
            padding: 20px;
            padding-bottom: 0;
            background-color: $white-color;
            text-transform: uppercase;
            font-family: $sans-serif-font;
            font-weight: bold;
            letter-spacing: 5px;
        }
        &--date {
            display: block;
            padding: 0px 20px;
            margin-top: 10px;
            font-style: italic;
            background-color: $white-color;
        }
        &--details {
            display: inline-block;
            padding: 0px 20px;
            margin-top: 10px;
            background-color: $white-color;
        }
	}
    // Races
    .container--races {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 3%;
    }
    &__photo {
		width: 100%;
		height: 100%;
	}
	&__races {
        width: 68%;
		color: black;
		border: black solid 18px;
        background-color: black;
        display: inline-block;
	}
	&__race-item {
        border-bottom: black solid 5px;
		background-color: $white-color;
		.date {
			background-color: black;
			color: $white-color;
			padding: 8px;
            margin-right: 10px;
            width: 190px;
            text-align: center;
            display: inline-block;
        }
        .date:nth-child(2) {
            background-color: $primary-color;
            width: 90px;
        }
    }
    &__race-item:hover {
        background-color: $tertiary-color;
        color: $white-color;
    }
    &__race-info {
        height: 70px;
        padding: 25px 10px;
        width: 20%;
    }
    &__race-info:last-child {
        width: 10%;
    }

    &__right-col {
        display: inline-block;
        width: 30%;
        margin-left: 2%;
    }
    // Races modal
    &__races-modal {
        opacity: 0;
        display: none;
        margin-top: 0px;
        z-index: 7;
        position: absolute;
        width: 67.1%;
		color: black;
		border: black solid 18px;
        background-color: black;
    }
    &__new-race-item {
        background-color: $tertiary-color;
        height: 500px;
    }
    // Records
	&__records {
		color: black;
		border: black solid 18px;
        background-color: black;
        display: inline-block;
        margin-bottom: 10%;
    }
	&__record-item {
        background-color: $secondary-color;
        color: $white-color;
        font-weight: bold;
        text-transform: uppercase;
        font-family: $sans-serif-font;
        border-top: 10px solid black;
        padding: 20px 20px;
        text-align: center;
        font-size: 1.6rem;
    }
    &__record-item:hover {
        background-color: $primary-color-dark;
    }
    &__friends {
        width: 500px;
    }
    &__record-info {
        height: 70px;
        padding: 25px 10px;
        width: 20%;
    }
    &__record-info:first-child {
        width: 16%;
    }
}

// Weather Records
.records__weather {
    color: black;
    border: black solid 18px;
    background-color: black;
    display: inline-block;
    margin-bottom: 10%;
    width: 100%;

}

.records__weather-info {
    height: 70px;
    padding: 25px 10px;
    width: 20%;
    background-color: $white-color;
    &:first-child {
        width: 16%;
    }
    &--date {
        background-color: $secondary-color;
        color: $white-color;
        font-weight: bold;
        text-transform: uppercase;
        font-family: $sans-serif-font;
        border-top: 10px solid black;
        padding: 20px 20px;
        text-align: center;
        font-size: 1.6rem;
    }
    
    &--forecast {
        font-family: $sans-serif-font;
        border-top: 10px solid black;
        padding: 20px 20px;
        text-align: center;
        font-size: 1.6rem;
        background-color: $primary-color-dark;
        color: $white-color;
        font-weight: normal;
        text-transform: capitalize;
        .date {
            color: $white-color;
            letter-spacing: 2px;
            padding: 8px 10px;
            text-align: center;
            display: inline-block;
            background-color: $primary-color;
            width: 100px;
            margin-right: 10px;
        }
    }
}

// Search bar 
.records__search--input {
    height: 30px;
    width: 324.1px;
    vertical-align: top;
}
.records__search--icon {
    width: 28.5px;
    height: 28px;
    color: $white-color;
}
.records__search--icon:hover {
    color: $primary-color;
}
