<!DOCTYPE html>
<html>
  <head>
    <title>Runner</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
